node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
coverage
playwright-report
test-results
.swc
.git
.gitignore
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
